---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: bonzofenix/ci-tools
    tag: v0.0.5

params:
  DEBUG:
  VAULT_ADDR:
  VAULT_TOKEN:
  VAULT_SKIP_VERIFY:

inputs:
- name: pipeline


run:
  path: pipeline/ci/scripts/vault/check_cluster.sh
