---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: bonzofenix/ubuntu-ci-tools
    tag: edge

params:
  DEBUG:
  VAULT_ADDR:
  VAULT_TOKEN:
  POLICY_FILES:
  VAULT_SKIP_VERIFY:

inputs:
- name: pipeline
- name: config


run:
  path: pipeline/ci/scripts/vault/create_policies.sh
