---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bonzofenix/alpine-ci-tools
    tag: edge

params:

inputs:
  - name: pipeline
  - name: config
  - name: metadata

outputs:
  - name: config-mod

run:
  path: pipeline/ci/scripts/create_uaa_clients.sh
