---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: bonzofenix/ci-tools
    tag: v0.1.7

params:

inputs:
  - name: pipeline
  - name: config
  - name: metadata

outputs:
  - name: config-mod

run:
  path: pipeline/ci/scripts/deploy.sh
