---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: bonzofenix/alpine-ci-tools
    tag: edge

params:

inputs:
  - name: pipeline
  - name: config

run:
  path: pipeline/ci/scripts/bosh/update_cloud_config.sh
