---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: bonzofenix/ubuntu-ci-tools
    tag: edge

params:

inputs:
  - name: pipeline
  - name: metadata
  - name: config
  - name: bosh-dns-boshrelease
    optional: true
  - name: toolbelt-boshrelease
    optional: true

outputs:
  - name: config-mod

run:
  path: pipeline/ci/scripts/bosh/update_runtime_config.sh

