---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: bonzofenix/ci-tools
    version: v0.1.6

params:

inputs:
  - name: pipeline
  - name: config

run:
  path: pipeline/ci/scripts/bosh/update_runtime_config.sh
