---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: bonzofenix/ci-tools
    version: v0.1.7

params:
  CF_API_URI:
  CF_USER:
  CF_PASSWORD:
  CONCOURSE_TARGET:
  CONCOURSE_USERNAME:
  CONCOURSE_PASSWORD:
  ORGS_LIST_FILE:

inputs:
- name: pipeline
- name: config


run:
  path: pipeline/ci/scripts/concourse/set_teams.sh
